<!-- Add Modal -->
<div class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add Contact</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
            </div>

            <form class="row g-3 needs-validation" [formGroup]="addForm" novalidate>

                <div class="modal-body">

                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating">
                                    <input formControlName="givenName" type="text" class="form-control" id="givenName" aria-label="Given Name" [ngClass]="{'is-invalid': addForm.get('givenName')?.invalid && (addForm.get('givenName')?.dirty || addForm.get('givenName')?.touched), 'is-valid': addForm.get('givenName')?.valid && (addForm.get('givenName')?.dirty || addForm.get('givenName')?.touched)}">
                                    <label for="givenName">Given Name</label>
                                    <div class="valid-feedback" *ngIf="addForm.get('givenName')?.valid && (addForm.get('givenName')?.dirty || addForm.get('givenName')?.touched)">Valid Input</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('givenName')?.getError('minlength')">The field 'given name' has length of {{addForm.get('givenName')?.getError('minlength')['actualLength']}} which below the minimum length of {{addForm.get('givenName')?.getError('minlength')['requiredLength']}}.</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('givenName')?.getError('maxlength')">The field 'given name' has length of {{addForm.get('givenName')?.getError('maxlength')['actualLength']}} which exceeds the maximum length of {{addForm.get('givenName')?.getError('maxlength')['requiredLength']}}.</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('givenName')?.getError('required') && (addForm.get('givenName')?.dirty || addForm.get('givenName')?.touched)">The field 'given name' is required.</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input formControlName="familyName" type="text" class="form-control" id="familyName" aria-label="Family Name" [ngClass]="{'is-invalid': addForm.get('familyName')?.invalid && (addForm.get('familyName')?.dirty || addForm.get('familyName')?.touched), 'is-valid': addForm.get('familyName')?.valid && (addForm.get('familyName')?.dirty || addForm.get('familyName')?.touched)}">
                                    <label for="familyName">Family Name</label>
                                    <div class="valid-feedback" *ngIf="addForm.get('familyName')?.valid && (addForm.get('familyName')?.dirty || addForm.get('familyName')?.touched)">Valid Input</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('familyName')?.getError('minlength')">The field 'family name' has length of {{addForm.get('familyName')?.getError('minlength')['actualLength']}} which below the minimum length of {{addForm.get('familyName')?.getError('minlength')['requiredLength']}}.</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('familyName')?.getError('maxlength')">The field 'family name' has length of {{addForm.get('familyName')?.getError('maxlength')['actualLength']}} which exceeds the maximum length of {{addForm.get('familyName')?.getError('maxlength')['requiredLength']}}.</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('familyName')?.getError('required') && (addForm.get('familyName')?.dirty || addForm.get('familyName')?.touched)">The field 'family name' is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-1">
                            <div class="col-6">
                                <div class="form-floating">
                                    <input formControlName="mobileNumber" type="text" class="form-control" id="mobileNumber" aria-label="Mobile Number" [ngClass]="{'is-invalid': addForm.get('mobileNumber')?.invalid && (addForm.get('mobileNumber')?.dirty || addForm.get('mobileNumber')?.touched), 'is-valid': addForm.get('mobileNumber')?.valid && (addForm.get('mobileNumber')?.dirty || addForm.get('mobileNumber')?.touched)}">
                                    <label for="mobileNumber">Mobile Number</label>
                                    <div class="valid-feedback" *ngIf="addForm.get('mobileNumber')?.valid && (addForm.get('mobileNumber')?.dirty || addForm.get('mobileNumber')?.touched)">Valid Input</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('mobileNumber')?.getError('maxlength')">The field 'mobileNumber' has length of {{addForm.get('mobileNumber')?.getError('maxlength')['actualLength']}} which exceeds the maximum length of {{addForm.get('mobileNumber')?.getError('maxlength')['requiredLength']}}.</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('mobileNumber')?.getError('invalidFormat') && !addForm.get('mobileNumber')?.getError('required') && (addForm.get('mobileNumber')?.dirty || addForm.get('mobileNumber')?.touched)">The field 'mobile number' has invalid format.</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('mobileNumber')?.getError('required') && (addForm.get('mobileNumber')?.dirty || addForm.get('mobileNumber')?.touched)">The field 'mobile number' is required.</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input formControlName="birthDate" type="date" class="form-control" id="birthDate" aria-label="Birth Date" [ngClass]="{'is-invalid': addForm.get('birthDate')?.invalid && (addForm.get('birthDate')?.dirty || addForm.get('birthDate')?.touched), 'is-valid': addForm.get('birthDate')?.valid && (addForm.get('birthDate')?.dirty || addForm.get('birthDate')?.touched)}">
                                    <label for="birthDate">Birth Date</label>
                                    <div class="valid-feedback" *ngIf="addForm.get('birthDate')?.valid && (addForm.get('birthDate')?.dirty || addForm.get('birthDate')?.touched)">Valid Input</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('birthDate')?.getError('maxlength')">The field 'birth date' has length of {{addForm.get('birthDate')?.getError('maxlength')['actualLength']}} which exceeds the maximum length of {{addForm.get('birthDate')?.getError('maxlength')['requiredLength']}}.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-1">
                            <div class="col-6">
                                <div class="form-floating">
                                    <input list="datalistOptions" formControlName="label" type="text" class="form-control" id="label" aria-label="Label" [ngClass]="{'is-invalid': addForm.get('label')?.invalid && (addForm.get('label')?.dirty || addForm.get('label')?.touched), 'is-valid': addForm.get('label')?.valid && (addForm.get('label')?.dirty || addForm.get('label')?.touched)}">
                                    <datalist id="datalistOptions">
                                        <option *ngFor="let label of labels" [value]="label.text">
                                      </datalist>
                                    <label for="label">Label</label>
                                    <div class="valid-feedback" *ngIf="addForm.get('label')?.valid && (addForm.get('label')?.dirty || addForm.get('label')?.touched)">Valid Input</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('label')?.getError('minlength')">The field 'label' has length of {{addForm.get('label')?.getError('minlength')['actualLength']}} which below the minimum length of {{addForm.get('label')?.getError('minlength')['requiredLength']}}.</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('label')?.getError('maxlength')">The field 'label' has length of {{addForm.get('label')?.getError('maxlength')['actualLength']}} which exceeds the maximum length of {{addForm.get('label')?.getError('maxlength')['requiredLength']}}.</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('label')?.getError('invalidFormat') && (addForm.get('label')?.dirty || addForm.get('label')?.touched)">The field 'label' has invalid format.</div>
                                    <div class="invalid-feedback" *ngIf="addForm.get('label')?.getError('required') && (addForm.get('label')?.dirty || addForm.get('label')?.touched)">The field 'label' is required.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
                    <button type="button" class="btn btn-primary" [disabled]="!addForm.valid" (click)="save()">Save Changes</button>
                </div>

            </form>

        </div>
    </div>
</div>